body {
    font-size: 62.5%;
    background-color: rgb(133, 162, 240);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 1.8rem;
        margin-bottom: 4rem;
    }
}

.contenedorInfoUsuario {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 90%;
    margin: 0 auto;
    font-size: 1.1rem;
    border: 1px solid #000;
    border-radius: 0.2rem;
    padding: 1rem;
}

.contenedorInfoUsuario label {
    margin-bottom: 0.6rem;
}

.contenedorInfoUsuario input {
    border: 1px solid #000;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

@media (min-width: 768px) {
    .contenedorInfoUsuario {
        grid-template-columns: 32% 68%;
        width: 80%;
        font-size: 1.3rem;
    }

    .contenedorInfoUsuario label {
        margin-bottom: 0rem;
        display: flex;
        align-items: center;
    }

    .contenedorInfoUsuario input {
        padding: 0.7rem;
    }
}

.ContenedorBusquedaUsuario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.btnBuscarUsuario {
    border: 1px solid #000;
    border-radius: 0.2rem;
    padding: 1rem;
}

.btnBuscarUsuario:hover {
    cursor: pointer;
}

.contenedorResultado {
    border: 1px solid #000;
    border-radius: 0.2rem;
    padding: 1rem;
    height: 30rem;
    width: 90%;
    margin: 0 auto;
    overflow-y: auto;
}